<div class="mincenter">
    <div class="containermin ">
        <h5>Utbildning</h5>
        <ul>
            <li>
                <p>Pågående 2020-2022 EC Utbildning - Frontend Utvecklare</p>
            </li>
            <li>
                <p>2020 VT Blekinge tekniska högskola - Spelutveckling - 3D-modellering och karaktärsanimation UD1453 15p</p>
            </li>
            <li>
                <p>2019 HT Luleå tekniska universitet - Webbutveckling 1 - introduktion D0015D 7,5p</p>
            </li>
            <li>
                <p>2019 HT Högskolan i Gävle - 3D-modellering och animation i Open Source-miljö DV001A 7,5p</p>
            </li>
        </ul>
        <h5>Särskilda kunskaper</h5>
        <h6>Kodspråk/Ramverk Program</h6> 
        <p>
            JavaScript Vue, React, Angular  HTML & CSS, Bootstrap, <br>
            Visual Studio, Adobe XD, Blender, Maya 
        </p>
        
        <h5>Arbetslivserfarenhet</h5>
        <ul>
            <li>
                <p>2007-02-08 till 2008-08-31 samt 2009-01-11 till 2009-11-30</p>
                <p>Administratör/Dataregistrerare - Surahammars Kommunalteknik AB/Surahammars Energiverk AB</p>
                <p>Främst arbete inom leverantörsbyten med mottagandet och ivägskickandet av leverantörsbytesanmälningar 
                    samt uppföljningsarbeta av dessa anmälningar. Mottagande, kontroll samt registrering av mätvärden.
                    Avtalshantering och kreditkontroll, uppläggningar av nya kunder samt startdebitering, avslut av gamla kunder samt slutdebitering. </p>
            </li>
            <li>
                <p>2003 - 2006</p>
                <p>Fastighets och områdesskötsel - Surahammars Kommunalteknik AB</p>
                <p>Fastighets- och områdesskötsel för det lokala fastighetsbolaget</p>
            </li>
        </ul>
        </div>
    </div>
        