<div class="container my-5">


    <!--Section: Content-->
    <section class="">
  
      <div class="row pr-lg-5">
        <div class="col-md-7 mb-4">
  
          <div class="view">
            <img src="../../../assets/Picture 11 (02).jpg" class="img-fluid" alt="smaple image">
          </div>
  
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <div>
            
            <h3 class="font-weight-bold mb-4">David Andersson</h3>
  
              <p>
                Studerande som just nu går en yh-utbildning inom frontend på EC-utbildning
                Är en enkel och lättsam persom med varierande intressen inom teknik&data samhälle&politik träning&hälsa,
                har alltid ett otal flikar öpnna i webbläsaren som betas av och alltid villig att lära mig nånting nytt.
              </p>

              <hr>
  
              <a href="#" class="mx-1" role="button"><i class="fab fa-facebook-f specialicon"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-twitter specialicon"></i></a>
                <a href="#" class="mx-2" ><i class="fab fa-linkedin-in specialicon"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-github specialicon"></i></a>
  
          </div>
        </div>
      </div>
  
    </section>
    <!--Section: Content-->
  
  
  </div>